@import 'tailwindcss';

@theme {
  --font-display: 'Poppins', 'sans-serif';

  --color-white: #f8f8ff;
  --color-black: #2c2c2c;
  --color-sucess: #32cd7a;
  --color-general: #3e468f;
  --color-accent: #2fc6da;
  --color-secondary: #fec014;
  --color-sale: #f26b39;
  --color-error: #ed6161;
  --color-custom-gray: #e8e8ed;
}
