@import 'tailwindcss';
@theme {
  --font-display: 'Poppins', 'sans-serif';

  --color-white: #f8f8ff;
  --color-black: #2c2c2c;
  --color-sucess: #32cd7a;
  --color-general: '#3E468F';
  --color-accent: '#2FC6DA';
  --color-secondary: '#FEC014';
  --color-sale: '#F26B39';
  --color-error: '#ED6161';
}
